.base_button {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid #151E3F;
    height: 50px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.eugeneBtn{
    width: 60%;
  font-size: 16px;
  padding: 0.7rem;
  color: white;
  border-radius: 2px;
  border-style: none;
  background: #393a57;
  cursor: pointer;
}
