
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
  --primary-color: #383D6F;
  --secondary-color: #4953B2;
  --first-accent-color: #B24949;
  --second-accent-color: #423E3B;
  --third-accent-color: #E3E3E3;
  --radius:8px;
  --border:border: 2px solid;
  --preferedWhite: #FFFFFF;
  --shadow:0px 0px 2px #00000029;
  --globalFont: Source ;
  
}

*{
  transition: 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {

  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
    background:  #c8d4e20c 0% 0% no-repeat padding-box;
    height: -webkit-fill-available;
    /* opacity: 0.2; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Layout */
.Layout{
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  padding: 2px;
  min-width:fit-content
}



.Layout .main{
  min-width: 90%;
  margin-left: 5%;
  

}

main{
  padding:2%;
}

.Layout .main .content{/*main div where pages change on route*/
padding: 10px;
}

.Layout footer{
  bottom: auto;
}
/* layout */



/* Navbar */
nav{
  min-width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  padding:1%
}
/* Navbar */

/* row */
.row{
min-width:inherit;
width: 100%;
display:flex;
gap:10%;
margin-top:1%;/* padding:10px; */
}
.row > .container{
width: 50%;
/* padding: 10px; */

}
/* Column */


/* form fields */

.input_field{
  display: flex;
  flex-direction: column;
  width: auto;
}
.input_field label{
  font-size: small;
}
.input_field input[type="text"],input[type="password"],input[type="number"]{
  border-radius: var(--radius);
  
}
/* form fields */

/* button */
button{
  padding:5px;
  border-radius:var(--radius);
  width: auto;
  background-color: #fff;
}
button:hover{
  opacity: 0.9;
}
/* button */

/* card */
.card{
  background-color: var(--preferedWhite);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
/* card */





/* Notification */
.notification{
  position: relative;
  cursor: pointer;
}

.notifications{
  position: absolute;
background-color: var(--preferedWhite);
box-shadow: var(--shadow);
border-radius: var(--radius);
padding: 10px;
display: none;
width:max-content
}
.notifications li{
  list-style-type: none;
  align-self: center;
  font-size: small;
}
/* Notification */