.li{
    list-style-type: none;
    /* top: 675px;
    left: 1113px; */
    width: 98%;
    height: max-content;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #423e3b34;
    padding:10px;
    /* justify-content: space-between; */
}

/* .li:nth-child(even){
    margin-left: 30%;
    margin-right: 50%;
} */

.icon{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #16960C29;
    border-radius: 7px;
    margin-right: 10%;
    position: relative;
}

.title{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:normal; 
    letter-spacing: 0px;
    color: #423E3B;
    margin-left: 3px;
    margin-right: 5px;
}

.time{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:normal; 
    letter-spacing: 0px;
    color: #423E3B;
    margin-left: 3px;
    margin-right: 5px;

}

.amount{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:normal; 
    letter-spacing: 0px;
    color: #423E3B;
    justify-self: flex-end;
}